*{

	margin: 0;

	padding: 0;

	font-family: 'Quicksand';

}

body {

	background-color: #f8f8f8;

}

.box-judul {

	width: 50%;

	margin: 100px auto;

}

.box {

	background-color: #fff;

	border: 1px solid #ddd;

	padding: 10px;

	box-sizing: border-box;

	margin: 5px 0 25px;

}

.table-form {

	width: 100%;

}

.table-form tr td:nth-child(1) {

	width: 30%;

}

.input-control {

	padding: 5px 10px;

	font-size: 15px;

	margin: 5px 0;

}

.btn_submit {

	padding: 5px 10px;

	background-color: #3339FF;

	color : #fff;

	border: none;

	font-size: 15px;

}

.btn_submit:hover {

	cursor: pointer;

	background-color: #0008FF;

}

.mainlogin {

	display: flex;

	height: 100vh;

	justify-content: center;

	align-items: center;

}

.box-login {

	width: 350px;

	min-height: 210px;

}

.box-login h1 {

	margin-bottom: 15px;

	text-align: center;

}

.btn_login {

	padding: 7px 10px;

	background-color: #FF6100;

	color: #fff;

	border: none;

	font-size: 16px;

}

.btn_login:hover {

	cursor: pointer;

	background-color: #EA5F00;

}

header {

	background-color: #fff; 

}

header::after {

	content: '';

	display: block;

	clear: both;

}

header h1 {

	padding: 15px 25px;

	display: inline-block;

	float: left;

}

header ul {

	float: left;

}

header ul li {

	padding: 24px 25px;

	display: inline-block;

}

a {

	text-decoration: none;

}

.content {

	width: 90%;

	padding: 10px;

	box-sizing: border-box;

	margin: 10px auto;

}

.table {

	width: 100%;

	border-collapse: collapse;

	border: 1px solid #ddd;

}

.table tr {

	height: 30px;

}

.table tr td {

	padding: 6px 10px;

}

.table tr td:nth-child(1) {

	text-align: center;

}

.table tr td:nth-child(2) {

	text-align: center;

}

.table tr td:nth-child(4) {

	text-align: center;

}

.table tr td:nth-child(5) {

	text-align: center;

}

.table tr td:nth-child(6) {

	text-align: center;

}

.table tr td:nth-child(8) {

	text-align: center;

}

.btn_cetak {

	display: inline-block;

	padding: 7px 14px;

	color: #fff;

	background-color: #FF6100;

	margin-bottom: 10px;

}

.btn_cetak:hover {

	background-color: #EA5F00;

}
